.redes {
    display: flex;
    flex-direction: column;
    top: 60%;
    left: 100%;
    z-index: 50;
    position: fixed; 
}

.icone-fixed {
    width: 45px;
    height: 45px;
    transform: translate(-95%, -95%);
}
